---
interface Props {
  radius?: number;
  innerPadding?: number;
  class?: string;
}

const {
  radius = 8,
  innerPadding = 0,
  class: className = "",
} = Astro.props;
---

<div class:list={["stamp-border", "bg-stone-300 dark:bg-stone-600", className]}>
  <div class="stamp-inner">
    <slot />
  </div>
</div>

<style define:vars={{ radius: `${radius}px`, innerPadding: `${innerPadding}px` }}>
  .stamp-border {
    padding: calc(var(--radius) * 1);
    --stamp-bg: theme('colors.stone.300');
    mask: 
      radial-gradient(at 50% 50%, #0000 50%, #000 50%) round 
       var(--radius) var(--radius)/calc(2*var(--radius)) calc(2*var(--radius)), 
      conic-gradient(#000 0 0) content-box;
  }
  
  :global(.dark) .stamp-border {
    --stamp-bg: theme('colors.stone.600');
  }
  
  .stamp-inner {
    background: var(--stamp-bg);
    padding: var(--innerPadding);
  }
</style>

